<!DOCTYPE html>
<html>
  <head>
    <title>CookieWare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <h3 style="margin-top:12px;"><b>CookieWare</b></h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= active_link_to 'Logout', '/logout', :wrap_tag => :li %></li>
          <% else %>
            <li><%= active_link_to 'Login', '/login', :wrap_tag => :li %></li>
            <li><%= active_link_to 'Signup', '/signup', :wrap_tag => :li %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container" style="margin-top: 100px;">
      <% if current_user %>
        Signed in as <%= current_user.username %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
